<div fxLayout="column wrap" class="container">


    <div fxFlex="100" fxLayoutAlign="none start" fxLayout="row wrap">
        <h2>Visualiza nuestros paquetes</h2>


        <div fxFlex="100" fxLayoutAlign="space-around center" fxLayout="row wrap">


            <mat-card class="example-card" fxFlex="20" fxFlex.xs="100">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>PAQUETE 1</mat-card-title>
                    <mat-card-subtitle>$ 7,500.00 MXN</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>
                        DE 1 A 15 PERSONAS
                        <br>
                        Costo por persona extra $500.00 MXN
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="example-card" fxFlex="20" fxFlex.xs="100">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>PAQUETE 2</mat-card-title>
                    <mat-card-subtitle>$ 20,000.00 MXN</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>
                        DE 16 A 50 PERSONAS<br>
                        Costo por persona extra $400.00 MXN
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>





            <mat-card class="example-card" fxFlex="20" fxFlex.xs="100">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>PAQUETE 3</mat-card-title>
                    <mat-card-subtitle>$ 30,000.00 MXN</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>
                        DE 51 A 100 PERSONAS
                        <br>
                        Costo por persona extra $300.00 MXN
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>


            <mat-card class="example-card" fxFlex="20" fxFlex.xs="100">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>PAQUETE 4</mat-card-title>
                    <mat-card-subtitle>ADICIONAL </mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <p>
                        101 PERSONAS O MAS
                        <br>
                        Costo por persona extra $250.00 MXN
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

            <div class="" fxFlex="100">
                <p>
                    Los costos para Diagnóstico incluyen:
                </p>
                <ul>
                    <li>Aplicación de evaluaciones en sitio (digital o en papel)</li>
                    <li>Análisis de resultados</li>
                    <li>Entrega de informe con resultados y recomendaciones.</li>
                </ul>

            </div>
        </div>


    </div>
</div>