<div class="card">
    <div class="card-header">
        <h5>Crear categoria</h5>
    </div>
    <div class="card-body">
        <app-edit-category #editComponent (categoryUpdated)="categoryUpdated($event)">
        </app-edit-category>
        <button (click)="create()" mat-stroked-button color="accent" class="btn-block"
            [disabled]="!validForm">Crear</button>
        <app-back-error-list [errors]="backErrors"></app-back-error-list>
        <app-success-box *ngIf="categoryCreated" message="Categoria creada"></app-success-box>
    </div>
</div>