<div class="container-fluid p-0 auth-bg">
    <div class="authentication-main">
        <div class="row">
            <div class="col-md-12">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <div class="text-center"><img src="assets/images/rscLogoWeb.png" alt=""></div>
                        <div class="card mt-4">
                            <div class="card-body">
                                <div class="text-center">
                                    <h4>Restablece tu contraseña</h4>
                                </div>
                                <div *ngIf="!passwordReset">
                                    <form [formGroup]="emailForm" *ngIf="!tokenSent" fxLayout="column"
                                        fxLayoutAlign="none center">
                                        <mat-form-field>
                                            <input matInput placeholder="Correo" formControlName="email">
                                            <mat-error
                                                *ngIf="emailForm.controls['email'].invalid && emailForm.controls['email'].touched">
                                                Ingresa un correo electrónico valido
                                            </mat-error>
                                        </mat-form-field>
                                        <button (click)="newToken()" mat-stroked-button color="accent" class="btn-block"
                                            [disabled]="!emailForm.valid">Solicitar nueva contraseña</button>
                                    </form>
                                    <form [formGroup]="passwordForm" *ngIf="tokenSent" fxLayout="column"
                                        fxLayoutAlign="none center">
                                        <h6>Un correo ha sido enviado con el código de verificación.</h6>
                                        <mat-form-field>
                                            <input type="password" matInput placeholder="Contraseña"
                                                formControlName="password">
                                            <mat-error
                                                *ngIf="passwordForm.controls['password'].invalid && passwordForm.controls['password'].touched">
                                                La longitud mínima es de 6 caracteres
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input type="password" matInput placeholder="Confirma contraseña"
                                                formControlName="matchPassword">
                                            <mat-error
                                                *ngIf="passwordForm.controls['matchPassword'].invalid && passwordForm.controls['matchPassword'].touched">
                                                Las contraseñas deben coincidir
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput placeholder="Codigo" formControlName="token">
                                            <mat-error
                                                *ngIf="passwordForm.controls['token'].invalid && passwordForm.controls['token'].touched">
                                                Campo requerido
                                            </mat-error>
                                        </mat-form-field>
                                        <button (click)="setNewPassword()" mat-stroked-button color="accent"
                                            class="btn-block" [disabled]="!passwordForm.valid">Restablecer
                                            contraseña</button>
                                    </form>
                                    <app-back-error-list [errors]="backErrors"></app-back-error-list>
                                </div>
                                <app-success-box *ngIf="passwordReset" message="Contraseña restablecida">
                                </app-success-box>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>