<div class="card">
    <div class="card-header">
        <h5>Crear pregunta</h5>
    </div>
    <div class="card-body">
        <app-edit-question #editComponent (questionUpdated)="questionUpdated($event)">
        </app-edit-question>
        <button (click)="create()" mat-stroked-button color="accent" class="btn-block"
            [disabled]="!validForm">Crear</button>
        <app-back-error-list [errors]="backErrors"></app-back-error-list>
        <app-success-box *ngIf="questionCreated" message="Pregunta creada"></app-success-box>
    </div>
</div>