<div class="card">
    <div class="card-header">
        <h5>Crear dimensión</h5>
    </div>
    <div class="card-body">
        <app-edit-dimension #editComponent (dimensionUpdated)="dimensionUpdated($event)">
        </app-edit-dimension>
        <button (click)="create()" mat-stroked-button color="accent" class="btn-block"
            [disabled]="!validForm">Crear</button>
        <app-back-error-list [errors]="backErrors"></app-back-error-list>
        <app-success-box *ngIf="dimensionCreated" message="Dimensión creada"></app-success-box>
    </div>
</div>