<div class="card">
    <div class="card-header">
        <h5>Crear seccion</h5>
    </div>
    <div class="card-body">
        <app-edit-surveySection #editComponent (surveySectionUpdated)="surveySectionUpdated($event)">
        </app-edit-surveySection>
        <button (click)="create()" mat-stroked-button color="accent" class="btn-block"
            [disabled]="!validForm">Crear</button>
        <app-back-error-list [errors]="backErrors"></app-back-error-list>
        <app-success-box *ngIf="surveySectionCreated" message="Seccion creada"></app-success-box>
    </div>
</div>